.kanan,
.kanan td {
    color: #d8d8d8;
}

body,
.blk {
    background-color: #1a1a1a;
}


.fnx {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.accordion button::after {
    font-family: 'FontAwesome';
    content: "\f077";
    float: right;
}

.accordion button.collapsed::after {
    content: "\f078";
}